<%- include("partials/header"); -%>

<div class="left">
    <div class="image-container green-background">
        <img src="../images/maroon.png" alt="">

    </div>
    <div class="search-container">
        <h1 class="search-heading">Check your AQI</h1>
        <form action="/" method="post">
            <input type="text" name="city" placeholder="enter city name" autocomplete="off"/>
            <button type="submit">Search</button>
        </form>
    </div>

</div>
    <div class="right">
        <div class="maroon box" id="box">
            <h3><i class="fa-solid fa-location-arrow"></i><%=loc%></h3>
            <p  class="aqi">Current AQI </p>
            <h1>
                <%=aqi%>
            </h1>
            <h2>Very Unhealty</h2>
            <p class="date-time">updated on <%= updateTime%>
            <p class="desc">Health warning of emergency conditions: everyone is more likely to be affected.
            </p>
        </div>

    </div>
    


    <%- include("partials/footer"); -%>