<%- include("partials/header"); -%>

<div class="left">
    <div class="image-container green-background">
        <img src="https://img.freepik.com/free-vector/earth-pollution-concept-illustration_114360-16895.jpg?w=740&t=st=1697814918~exp=1697815518~hmac=7acb351fd2890716a333db5c4ba3b238f3637b439a029b23db4e19f01f8969ca" alt="">
    </div>
    <div class="search-container">
        <h1 class="search-heading">Check your AQI</h1>
        <form action="/" method="post">
            <input type="text" name="city" placeholder="Enter city name" autocomplete="off"/>
            <button type="submit">Search</button>
        </form>
    </div>

</div>
    <div class="right">
        <div class="red box" id="box">
            <h3><i class="fa-solid fa-location-arrow"></i><%=loc%></h3>
            <p  class="aqi">Current AQI </p>
            <h1>
                <%=aqi%>
            </h1>
            <h2>Unhealty</h2>
            <p class="date-time">updated on <%= updateTime%>
            <p class="desc">Some members of the general public may experience health effects; members of sensitive groups may experience
                more serious health effects.
            </p>
        </div>

    </div>
    


    <%- include("partials/footer"); -%>